[build]
  base = "/"
  command = "pnpm build --filter=@cotulenh/app"
  publish = "apps/cotulenh/app/build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
